<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="/ui/shared.css"/>
    <link rel="stylesheet" href="/ui/layout/layout.css"/>
    <link rel="stylesheet" href="http://ui.romadoma.com/ng-tinyslider/ng-tinyslider.css"/>
    <link rel="stylesheet" href="/ui/trip/list/list.css"/>
    <script>(function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o), m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-73131385-1', 'auto');
        ga('send', 'pageview');</script><!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WC44SKM')</script><!-- End Google Tag Manager -->
    <!-- Facebook Pixel Code -->
    <script>!function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1507579686186503'); // Insert your pixel ID here.fbq('track', 'PageView');</script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=1507579686186503&ev=PageView&noscript=1/></noscript>"
        <!-- End Facebook Pixel Code --><title>Каникулы для школьников за границей</title>
        <meta name="description" content="Программы каникул для школьников за рубежом от компании STUDY.UA."/>
        </head>
<body ng-app="studyHolidaysApp">
<div class="kate-widget"><a class="img" target="_blank" href="http://april.study.ua"></a></div><!-- Head bar. -->
<div id="block1">
    <div id="head_bar">
        <div class="menu-toggle" onclick="ui.toggle(head_menu)"></div>
        <div ng-class="{'sites-switch': true, '-open': isOpen}" ng-controller="DropdownSwitchCtrl">
            <div class="button-point -down" ng-click="toggle()">Все наши сайты</div>
            <div class="ddplace">
                <div class="dd"><a href="//www.study.ua">Обучение за рубежом</a><a href="//www.study.ua/i/academic.htm">Academic
                        Start</a><a href="//www.study.ua/directions/common.htm">Курсы для взрослых</a><a
                            href="//studyacademy.ua">STUDY Academy</a><a href="//camp.study.ua/">Британский лагерь в
                        Киеве</a><a href="//worktravel.org.ua">Work and Travel США</a></div>
            </div>
        </div>
        <div class="soc-stripe"><span class="icon -text"></span><a class="icon -mail -blank"
                                                                   href="http://www.study.ua/info/"></a><a
                    class="icon -fb -blank" href="https://www.facebook.com/STUDY.UA"></a><a class="icon -vk -blank"
                                                                                            href="http://vk.com/study_ua"></a><a
                    class="icon -ig -blank" href="https://www.instagram.com/studyua/"></a><a class="icon -gp -blank"
                                                                                             href="https://plus.google.com/+StudyUa"></a>
        </div>
    </div>
</div><!-- Head branding. -->
<div id="head_branding">
    <div class="main-logo js-media" on-mobile="before block1"><a class="img" href="/"></a>
        <div class="alt"></div>
    </div>
    <div class="big-phone">+38 044 500-03-20</div>
</div><!-- Head menu. -->
<div id="head_menu" class="js-media" on-mobile="before head_branding">
    <div class="nav-menu" ng-controller="NavMenuCtrl"><a class="item" href="/trip/listview">Выбор программы</a>
        <div class="item" ng-class="{'-active': activeItem == 1}" ng-click="activate(1)">Родителям
            <div class="ddplace">
                <div class="dd"><a href="/info-pe-1">Школьные каникулы с пользой</a><a href="/info-pe-2">Результаты
                        поездки у Вашего ребенка</a><a href="/info-pe-3">Групповая или индивидуальная поездка, что
                        подойдет Вашему ребенку</a><a href="/info-pe-4">Обязанности руководителя группы STUDY.UA</a><a
                            href="/info-pe-5">Критерии подбора групповой поездки</a><a href="/info-pe-6">Проживание в
                        резиденции или семье: что выбрать</a><a href="/info-pe-7">План дня с проживанием в резиденции и
                        семье</a><a href="/info-pe-8">География и особенности групповых поездок</a><a href="/info-pe-9">Преимущества
                        цены поездок «под ключ», что включено в стоимость</a><a href="/info-quan">Ответы на часто
                        задаваемые вопросы родителей</a><a href="/info-pe-11">Дневники групповых поездок</a><a
                            href="/info-feedback">Отзывы наших клиентов</a></div>
            </div>
        </div>
        <div class="item" ng-class="{'-active': activeItem == 2}" ng-click="activate(2)">Школьникам
            <div class="ddplace">
                <div class="dd"><a href="/info-ch-1">Первый раз за границей без родителей</a><a href="/info-ch-3">Как
                        выбрать подходящую мне школу</a><a href="/info-ch-5">Проживание в резиденции или семье?</a><a
                            href="/info-ch-6">Ответы на Ваши часто задаваемые вопросы</a><a href="/info-pe-11">Дневники
                        групповых поездок</a><a href="/info-feedback">Отзывы наших клиентов</a></div>
            </div>
        </div>
        <a class="item" href="/info-co-w-us">Партнёрам</a><a class="item" href="/claim?id=0">Контакты</a></div>
    <a class="button-ico -consult" href="/claim">Получить консультацию</a></div><!-- Page. -->
<div id="page">
    <div ng-controller="TripListCtrl">
        <div class="list-sorter"><span>Сортировать поездки</span><a data-sort="4"
                                                                    ng-click="buttonClick($event)">цена</a><a
                    id="sort_default" data-sort="3" ng-click="buttonClick($event)">страна</a><a data-sort="2"
                                                                                                ng-click="buttonClick($event)">город</a><a
                    data-sort="1" ng-click="buttonClick($event)">тип курса</a></div>
        <div class="list-blocks" ng-cloak>
            <div ng-click="moveTo(item.id, item.url)" ng-repeat="item in listItems"><img class="pic"
                                                                                         src="{{item.pic}}"/><img
                        class="ico" src="http://img0.study.com.ua/trips/country-icons/{{item.countryId}}.png"/>
                <div class="title">{{item.title}}, {{item.city}}</div>
                <div ng-hide="item.price == 0">Стоимость: {{item.price}}{{item.currency}}</div>
                <div>Возраст: {{item.ageMin}}-{{item.ageMax}} лет</div>
                <div>Даты: {{putDay (item.dateStart)}}-{{putDay (item.dateEnd)}}</div>
                <div class="brief">{{item.brief}}</div>
            </div>
        </div>
    </div>
</div><!-- Claim form popup. -->
<div id="claim_win" class="popup-win" style="display: none">
    <div class="mid">
        <div class="inner">
            <div class="claim-win">
                <div class="body">
                    <div class="contents">
                        <div class="h-2">Пожалуйста, заполните форму</div>
                        <p>Наши менеджеры ответят вам в самое ближайшее время.</p>
                        <form class="web-form" name="claimForm" ng-controller="ClaimFormCtrl"
                              ng-submit="claimForm.$valid && submit(formData)">
                            <div class="single"><label>Как вас зовут?*</label><span class="hint"
                                                                                    ng-show="claimForm.name.$invalid">Подсказка: введите ваше полное имя</span><input
                                        name="name" type="text" ng-model="formData.name" ng-minlength="3"
                                        ng-maxlength="50" ng-required="isSubmitAction"/></div>
                            <div class="single"><label>Ваш номер мобильного*</label><span class="hint"
                                                                                          ng-show="claimForm.phone.$invalid">Подсказка: украинский номер мобильного телефона, 380</span><input
                                        name="phone" type="text" placeholder="+380" ng-model="formData.phone"
                                        ua-phone="ua-phone" ng-required="isSubmitAction"/></div>
                            <!--<div class="single"><label>Ваш e-mail</label><span class="hint" ng-show="claimForm.email.$invalid">Подсказка: действительный e-mail адрес</span><input name="email" type="email" ng-model="formData.email" ng-maxlength="50" /></div>-->
                            <div class="single"><label>Когда Вам удобно пообщаться?</label><textarea name="comment"
                                                                                                     maxlength="255"
                                                                                                     ng-model="formData.comment"></textarea>
                            </div>
                            <div class="buttons">
                                <!-- ngClick is required here for prevention of invalid form submission. --><p
                                        class="bighint" ng-show="claimForm.$invalid">Не все поля заполнены правильно —
                                    смотрите подсказки.</p><input class="button-ico -submit" type="submit"
                                                                  value="Отправить" ng-click="isSubmitAction = true"/>
                                <div class="button-ico -close" ng-controller="ClaimWinCtrl" ng-click="toggle()">
                                    Закрыть
                                </div>
                            </div>
                            <div class="ui-loading" ng-show="submissionState == state.working"></div>
                            <div class="info-box -ok" ng-show="submissionState == state.success">Мы получили ваше
                                обращение и свяжемся с вами в ближайшее время. Спасибо!
                            </div>
                            <div class="info-box -alert" ng-show="submissionState == state.error">Хммм.. Произошла
                                ошибка — попробуйте отправить еще раз через {{floodSeconds}} секунд.
                            </div>
                        </form>
                    </div>
                    <div class="close" ng-controller="ClaimWinCtrl" ng-click="toggle()"></div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Keep scripts here to emprove layout rendering speed. -->
<script src="http://ui.romadoma.com/v2/scripts.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>var app = angular.module('studyHolidaysApp', ['tinySlider'])</script>
<script src="/ui/shared.js"></script>
<script src="/ui/layout/layout.js"></script>
<script src="http://ui.romadoma.com/ng-tinyslider/ng-tinyslider.js"></script>
<script src="/ui/trip/list/list.js"></script>
<script>layout.linkStyle('mobile', '/ui/trip/list/list-mobile.css');</script><!-- Yandex.Metrika counter -->
<script type="text/javascript">(function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter38144165 = new Ya.Metrika({
                    id: 38144165,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    webvisor: true
                });
            } catch (e) {
            }
        });
        var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
            n.parentNode.insertBefore(s, n);
        };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/38144165" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript><!-- /Yandex.Metrika counter -->
<script>layout.linkStyle('mobile', '/ui/layout/layout-mobile.css');
    layout.linkStyle('mobile', '/ui/shared-mobile.css');
    layout.watch();
    var fontLink = document.createElement('link');
    fontLink.rel = 'stylesheet';
    fontLink.type = 'text/css';
    fontLink.href = 'https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic-ext';
    document.body.appendChild(fontLink);</script>
<script>layout.linkStyle('mobile', '/ui/layout/layout-mobile.css');
    layout.linkStyle('mobile', '/ui/shared-mobile.css');
    layout.watch();
    var fontLink = document.createElement('link');
    fontLink.rel = 'stylesheet';
    fontLink.type = 'text/css';
    fontLink.href = 'https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic-ext';
    document.body.appendChild(fontLink);</script>
<link rel="stylesheet" href="https://cdn.callbackkiller.com/widget/cbk.css">
<script type="text/javascript"
        src="https://cdn.callbackkiller.com/widget/cbk.js?wcb_code=1e776c9be28e90bde1c2dc0990dd6dfc" charset="UTF-8"
        async></script>
</body>
</html>